# Vitis generated folders and files
.metadata/
.sdk/
.Xil/
build/
Debug/
Release/
Export/
webtalk/
RemoteSystemsTempFiles/
*.o
*.d
*.a
*.jou
*.log
*.backup.jou
*.backup.log
*.upgrade_log
*.dmp
*.str
*.zip
*.tmp
*.rst
*.os
*.js
*.pb
*.dcp
*.hwdef
*.vds
*.veo
*.wdf
*.vdi
*.rpx
*.rpt
*_stub.v
*_stub.vhdl
*_funcsim.v
*_funcsim.vhdl
.project
.cproject
.system
.mss
.spec
*.bif
*.bit
*.bin
*.elf
*.mcs
*.prm
*.xml
*.prj
*.srcs
*.runs
*.cache
*.ipdefs
*.hw
*.ip_user_files
# IP synth files
*_synth_*
.jobs
